gateway.debug={{gateway.debug}}
gateway.host={{gateway.host}}
gateway.port={{gateway.port}}
gateway.db.host={{gateway.db.host}}
gateway.db.port={{gateway.db.port}}
gateway.db.database={{gateway.db.database}}
gateway.db.password={{gateway.db.password}}
gateway.db.statistic.host={{gateway.db.statistic.host}}
gateway.db.statistic.port={{gateway.db.statistic.port}}
gateway.db.statistic.database={{gateway.db.statistic.database}}
gateway.db.statistic.password={{gateway.db.statistic.password}}
gateway.db.maxTotal={{gateway.db.maxTotal}}
gateway.db.maxIdle={{gateway.db.maxIdle}}
gateway.db.maxWait=10000
gateway.statsd.host={{gateway.statsd.host}}
gateway.statsd.port={{gateway.statsd.port}}
gateway.idp.url={{gateway.idp.url}}
gateway.connection.pool={{gateway.connection.pool}}
gateway.route.pool={{gateway.route.pool}}
gateway.timeout={{gateway.timeout}}
gateway.resource.base={{gateway.resource.base}}
gateway.thread.pool={{gateway.thread.pool}}
gateway.phantomScript.path={{gateway.phantomScript.path}}
gateway.authorization.endpoint={{gateway.authorization.endpoint}}
gateway.cloud.domain={{gateway.cloud.domain}}
gateway.mq.host={{gateway.mq.host}}
gateway.mq.vhost={{gateway.mq.vhost}}
gateway.mq.port={{gateway.mq.port}}
gateway.mq.username={{gateway.mq.username}}
gateway.mq.password={{gateway.mq.password}}
gateway.cors.hosts={{gateway.cors.hosts}}
gateway.api.authurl={{gateway.api.authurl}}
gateway.health.check.port={{gateway.health.check.port}}
gateway.health.check.rate={{gateway.health.check.rate}}
gateway.health.check.redis.host={{gateway.health.check.redis.host}}
gateway.health.check.redis.port={{gateway.health.check.redis.port}}
gateway.health.check.redis.db={{gateway.health.check.redis.db}}
gateway.health.check.redis.password={{gateway.health.check.redis.password}}
gateway.health.check.cluster={{gateway.health.check.cluster}}
gateway.health.check.nodeid={{gateway.health.check.nodeid}}
gateway.health.check.window={{gateway.health.check.window}}
gateway.aop.timer.on={{gateway.aop.timer.on}}
gateway.health.status.green={{gateway.health.status.green}}
gateway.health.status.yellow={{gateway.health.status.yellow}}
